# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Virtual environment
venv/
env/
ENV/
.venv/
.pyenv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS
.DS_Store

# Twilio config (if stored in a separate file)
twilio_config.json

# Chrome WebDriver
chromedriver

# Logs
*.log
logfile.log

# Miscellaneous
*.swp
*.swo
